<%- include('partials/_header.ejs') %>

<h1>Poner preguntas para el usuario</h1>

<div class="container">

    <div class="row">
        <div class="col-md-7">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td>n°</td>
                <td>Cuestionario</td>
                <td>Contestarlo</td>
              </tr>
            </thead>
            <tbody>
              <% if (data) { %>
                <% for(var i = 0; i < data.length; i++) { %>
                  <tr>
                    <td><%= (i + 1) %></td>
                    <td><%= data[i].Titulo_encuesta %></td>
                    <td>
                      <a href="/titulo/<%= data[i].Titulo_encuesta %>" class="btn btn-info">Comenzar</a>
                    </td>
                  </tr>
                <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
    
    </div>
</div>


<%- include('partials/_footer.ejs') %>